
@keyframes animate-canvas {
    0% {
        height: 75vmin;
        width: 75vmin;
        flex-grow: 0;
        grid-template-columns: 4vmin 1fr repeat(3,12vmin) 4vmin 0vmin;
        grid-template-rows: 0vmin 4vmin repeat(3,8vmin) 10vmin repeat(5, 1fr) repeat(3,1.5vmin) 4vmin 1vmin;    
    }
    50% {
        width: 100vw;
        height: 100vh;
        grid-template-columns: 4vmin 1fr repeat(3,5vmin) 2vmin 0vmin;
        grid-template-rows: 0vmin 4vmin repeat(3,4vmin) 6.5vmin repeat(5, 1fr) repeat(3,5vmin) 18vmin 1vmin;
    
    }
    100% {
        width: 100vw;
        height: 100vh;
        grid-template-columns: 4vmin 1fr repeat(3,5vmin) 2vmin 0vmin;
        grid-template-rows: 0vmin 4vmin repeat(3,4vmin) 4vmin repeat(5, 1fr) repeat(3,8vmin) 30vmin 1vmin;
    
    }
}

@keyframes text-wrapper-animation {
    from {
        height: 0;
        width: 0;
        padding: 0em;
    }
    75% {
        height: inherit;
        width: inherit;
        padding: 1em;
    }
    to {
        height: inherit;
        width: inherit;
        padding: 1em;
    }
}

@keyframes fade-in {
    from {
       opacity: 0;
    }
    75% {
       opacity: 0;
    }
    to {
        opacity: 1;
    }
}
html {
    height: 100%;
}

/*body and canvas desktop complete animation*/
body {
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    color: black;
    visibility: visible;
    height: 100%;
    width: 100%;

    animation: fade-in 9s ease-in;
}

.textwrapper {
    padding: 1em;
    color: black;
    visibility: visible;
    height: inherit;
    width: inherit;

    animation: text-wrapper-animation 8.5s ease-in;
}

.canvas {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: grid;
    grid-template-columns: 4vmin 1fr repeat(3,5vmin) 2vmin 0vmin;
    grid-template-rows: 0vmin 4vmin repeat(3,4vmin) 4vmin repeat(5, 1fr) repeat(3,8vmin) 30vmin 1vmin;
    grid-gap: 0.75vmin;

    animation: animate-canvas 8s
}

.canvas > * {
    --color1: #614e22;
    --color2: #a966a3;
    --color3: #b9a6c0;
    --color4: #dab998;
}





.canvas > :nth-child(1) {
    background-color: var(--color4);
    grid-column: 1 / 2;
    grid-row: 1 / 4;

}

.canvas > :nth-child(2) {
    background-color: var(--color3);
    grid-column: 2 / 3;
    grid-row: 2 / 4
}

.canvas > :nth-child(3) {
    background-color: white;
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

.canvas > :nth-child(4) {
    background-color: white;
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}

.canvas > :nth-child(5) {
    background-color: var(--color4);
    grid-column: 4 / 7;
    grid-row: 3 / 6;
}

.canvas > :nth-child(6) {
    background-color: white;
    grid-column: 1 / 2;
    grid-row: 4 / 15;
}

.canvas > :nth-child(7) {
    background-color: var(--color1);
    grid-column: 2 / 3;
    grid-row: 4 / 7;
}

.canvas > :nth-child(8) {
    background-color: white;
    grid-column: 4 / 6;
    grid-row: 6 / 7;
}

.canvas > :nth-child(9) {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 7 / 8;
}

.canvas > :nth-child(10) {
    background-color: var(--color2);
    grid-column: 3 / 4;
    grid-row: 7 / 11;
}

.canvas > :nth-child(11) {
    background-color: var(--color3);
    grid-column: 4 / 6;
    grid-row: 7 / 11;
}

.canvas > :nth-child(12) {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 8 / 15;
}

.canvas > :nth-child(13) {
    background-color: var(--color1);
    grid-column: 3 / 5;
    grid-row: 11 / 15;
}

.canvas > :nth-child(14) {
    background-color: white;
    grid-column: 5 / 6;
    grid-row: 11 / 15;
}

.canvas > :nth-child(15) {
    background-color: white;
    grid-column: 6 / 7;
    grid-row: 11 / 15;
}

.canvas > :nth-child(16) {
    background-color: white;
    grid-column: 1 / 2;
    grid-row: 15 / 17;
}

.canvas > :nth-child(17) {
    background-color: var(--color4);
    grid-column: 2 / 5;
    grid-row: 15 / 16;
}

.canvas > :nth-child(18) {
    background-color: white;
    grid-column: 5 / 7;
    grid-row: 15 / 16;
}

.canvas > :nth-child(19) {
    background-color: white;
    grid-column: 2 / 8;
    grid-row: 16 / 17;
}
